nav {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  gap: 20px;
}

/* Estilo normal */
nav a {
  text-decoration: none;
  color: #666;
  font-family: sans-serif;
}

/* Estilo cuando estás en la página */
nav a.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}